{% extends "base.html" %}
{% block title %}
    Author
{% endblock %}
{% block content %}
    <section id="posts">
      <h1 class="main__header">Автор</h1>
      <section id="posts">
          <h2 class="about__wrapper">Вот что я умею</h2>
              <aside class="col-12 col-md-3 about__wrapper">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Python
                  </li>
                  <li class="list-group-item">
                    Django
                  </li>
                  <li class="list-group-item">
                    Css
                  </li>
                  <li class="list-group-item">
                    Html
                </li>
                </ul>
              </aside>   
      <div class="posts container py-5">     
        <p class="about__link">
            Вот моя ссылочка: <span><a href="https://github.com/Citxr"> github</a></span>
        </p>
    </div>
{% endblock %} 