
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    CreationHub
  </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom_style/style.css' %}">
  <link rel="shortcut icon" href="/static/img/-.png" type="image/x-icon">
</head>
<body>
  {% include 'includes/header.html' %} 
    <main id="main">
        {% block content %}
        {% endblock %}
    </main>
  {% include 'includes/paginator.html' %}
  {% include 'includes/footer.html' %}
</body>
</html>


